h4 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

code {
  border-radius: 5px;
  border: 2px solid rgb(221, 221, 221);
  overflow: auto;
}

#code-customize {
  padding-top: 0;
  font: Monaco, Courier, Monospace;
}

.date-year {
  font-size: 30px;
  color: #ee4444;
}

.archives-li {
  padding: 10px 20px;
  font-size: 15px;
}

.archives-date {
  color: #A7AAB1;
  font-size: 15px;
}

.archives-title {
  color: black;
  font-size: 18px;
  padding-left: 15px;
}

.archives-title:hover {
  color: #0088cc;
}
